* {
	border:0;
	padding:0;
	margin:0;
	border:0;
}
#container {
	max-width: 1194px;
	min-width: 1194px;
	
	margin: 0 auto;
	position: relative;
	font-size: 105%;
	height: 100%;
	font-family: 'Roboto', sans-serif;

}
header {
	position: relative;
}
#top-head{
	background-color: rgba(58,36,64,0.5);
	max-height: 145px;
	
}
.logo {
	position: relative;
	z-index: 145;
	left:20px;
	bottom:15px;
}

#tagline {
	position: absolute;
	top:30px;
	left:375px;
	font-size: 85%;
	font-style: italic;
	
}
#tagline span {
	position: relative;
	left: 55px;
}

.business-info {
	float:right;
	position: relative;
	top:30px;
	right:20px;
}
.fb-left {
	left:35px;
}
.fb-bottom {
	bottom:12.5px;
}


.hero {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.hero li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.hero li:first-child {
  position: relative;
  display: block;
  float: left;
}

.hero img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

header nav ul li {
	float: right;
	width:12.8%;
	border-left: 1px solid rgba(0,0,0,0.5);
	

}
header nav ul {
	list-style-type: none;
	font-size: 130%;
	background-color: rgba(7,96,204,0.8);
	min-height: 45px;
	line-height: 45px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	
}
header nav ul li a {
	text-decoration: none;
	display:block;
	color:black;
}
header nav {
	width: 100%;
	position: absolute;
	z-index: 100;
	top:145px;
	
}
#cta {
	position: absolute;
	top:480px;
	right:20px;
	z-index: 100;
	font-size: 175%;
}
#cta ul li{
	list-style-type: none;
	width:175px;
	height: 65px;
	background-color:rgba(255,222,0,0.75);
	float:left;
	line-height: 65px;
	text-align: center;
	box-shadow: 2px 2px 2px black;
	margin:0px 0px 0px 25px;
}
#cta ul li a {
	text-decoration: none;
	display:block;
	height: 65px;
	color:#461F71;
}
/*.cta-extension {
	height:65px;
	width: 30px;
	position: relative;
	left:175px;
	bottom: 65px;
	box-shadow: 2px 2px 2px black;
	background-image: url(../photos/svg-social-icons/right-arrow.svg);
	background-color: rgba(127,111,0,0.75);
	background-repeat: no-repeat;
	background-size: 65px 65px;
	background-position: center;
	display: none;
}*/

.row1-content {
	background-color: #8FB299;
	width: 100%;
	overflow: hidden;
	padding: 0 0 25px 0;
}

.row2-content {
	background-color: #667F6E;
	width:100%;
	position: relative;
	padding: 0 0 25px 0;

}
.row1-content img, .row2-content img {
	border:6px solid rgba(0,0,0,0.2);
	box-shadow: 1.5px 1.5px 3px rgba(0,0,0,0.4);
}

.left-65 {
	width:61%;
	float:left;
	position: relative;
	padding: 15px 20px 0px 20px;

}
.left-65 h1, .left-65 h2, .left-65 h3, .left-65 h4, .right-35 h2, .right-35 h3, .right-35 h4{
	padding: 0 0 10px 0;
	
}

.right-35 {
	width:30%;
	float:right;
	padding: 15px 20px 0px 20px;
	
}
.right-row-1, .center  {
	text-align: center;
}
.right-row-1 .social-icons {
	width:10%;
	height:10%;
}
.right-row-2 h2 {
	text-align: center;
}

.anchor {
	text-decoration: none;
	color:#FFDE00;
}
.anchor:hover {
	color:#E5BF42;
}












footer {
	background-color:#ffffff;
	border-bottom: 1px solid rgba(0,0,0,0.8);
	min-height:95px;
	padding: 0px 20px 0px 20px;

}
.footer-social-icons {
	width: 3%;
	height: 3%;
}

.bottom-border {
	border-bottom: 1px solid rgba(0,0,0,0.8);
	width:100%;
	margin: 0 auto;
}


.cf:before,.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}


/*specific to interior pages*/
.form input[type=text], .form input[type=email],.form input[type=tel]{
	height:30px;
	width:220px;
	border-radius: 6px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
.form input[type=submit]{
	position: relative;
	width:125px;
	height:25px;
	border-radius: 2px;
	box-shadow: 2px 2px 3px black;
	left:219px;
}
.form label {
	display: inline-block;
	width:125px;
	font-size: 130%;

}
.form p {
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
}



/*
@media screen and (max-width: 768px){
	#container{
		width:100%;
	}
	#hero img{
		height: 100%;
		width:100%;

	}
	#hero {
		width: auto;
		height: auto;
	}
	#container {
		width:100%;
	}
	.right-row-1 {
		
	}
	.logo {
		width:30%;
		height:30%;
	}


}
*/

