* {
	border:0;
	padding:0;
	margin:0;
	border:0;

}
#container {
	max-width: 1194px;
	margin: 0 auto;
	position: relative;

}
header #top-head{
	background-color: #CCCC8F;
	overflow: hidden;
	
}
header h1, #tagline{
	float:right;
	margin:20px 55px 0px 0px;
}
#tagline {
	position: absolute;
	top:55px;
	right:0px;

	
}
#hero {
	width:1194px;
	height:410px;
}
#hero img{
	height:100%;
	width: 100%;
	margin:0 auto;
	
}
nav ul li{
	float:left;
	list-style-type: none;
	margin:0px 5px 0px 5px;
	font-size: 130%;
	width:12.25%;
	background-color: rgba(7,96,204,0.8);
	min-height: 45px;
	line-height: 45px;
	text-align: center;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
nav ul li a {
	text-decoration: none;
	display:block;
	color:black;
	
}
header nav {
	width:100%;
	position: absolute;
	z-index: 100;
	top:181px;
	left:50px;
}

#cta {
	float:right;
	position: relative;
	bottom:190px;
	right:25px;
	font-size: 175%;
}
#cta ul li{
	list-style-type: none;
	width:150px;
	height: 105px;
	background-color: #34fd45;
	float:right;
	line-height: 105px;
	text-align: center;
	box-shadow: 2px 2px 2px black;
	margin:0px 30px 0px 30px;
	
}
#cta ul li a {
	text-decoration: none;
	display:block;

}
.cta-extension {
	height:105px;
	width: 30px;
	background-color: #1A7F23;
	position: relative;
	left:151px;
	bottom: 105px;
	box-shadow: 2px 2px 2px black;
}







.row1-content{
	background-color: #8FB299;
	min-height: 125px;
	width: 100%;
	position: relative;
	height:auto;


	
}
.row2-content {
	background-color: #667F6E;
	width:100%;
	min-height: 100px;
	position: relative;
	
}

.left-65 {
	width:60%;
	border:2px solid blue;
	
	
	
}

.right-35 {
	width:30%;
	border:2px solid red;
	left:69.7%;
	position: absolute;
	z-index: 100;


}
.right-row-1 {
	top: 0px;
	text-align: center;

}
.right-row-2 {
	top: 0px;

}
#rows {
	position: relative;
	top:-5px;
}














footer {
	background-color:#ffffff;
	border-bottom: 1px solid black;
	min-height:95px;
	clear:both;
}

.bottom-border {
	border-bottom: 1px solid black;
	width:97%;
	margin: 0 auto;
}

